<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= image_tag "rails.png", :alt => 'rails_logo', :class => 'pull-right img-polaroid', :style => 'margin: 3px' %>
      <%= link_to "Home", '#', :class => "brand" %>
      <%= link_to "Help", '#', :class => "brand"  %>
      <%= link_to "Sing in", '#', :class => "brand"  %>
    </div>
  </div>
</div>